* {
  box-sizing: border-box;
  font-size: 14;
  font-family: monospace;
}

.v-list-item.d-flex .v-list-item__content {
  display: flex;
  align-items: center;
}

.v-table > .v-table__wrapper > table > thead > tr > th {
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}
